{% extends "accountmanagement.html" %}

   	{% block title %}
      Search Results - Vibenjive
      {% endblock %}

  <!-- Search Results -->
{% block content %}

{{form}}
  <div class="centered" class="container">
   <div class="transbox">
     <div class="results">
       <table cellspacing="20">
  {% block content3 %}
  {% endblock %}
	{% if object_lists %}
         <tr style="text-align:center">
           <td><b><u>Title/Description</u></b></td>
    	     <td><b><u>Genre</u></b></td>
    	     <td><b><u>Instrument</u></b></td>
    	     <td><b><u>URL</u></b></td>
           <td></td>
         </tr>
		{%for list in object_lists %}
		    <tr style="text-align:center">
    		  <td>{{ list.title }}</td>
    		  <td>{{ list.genres }}</td>
    		  <td>{{ list.instruments }}</td>
    		  <td><a class="transition" href="{{ list.url }}" target="_blank">Link to audio</a></td>
          <td>
            <form action="/del_music/" method ="post" role="form">
              {% csrf_token %}
              <input type="hidden" name="song_id" value="{{ list.song_id }}">
              <button type="submit" class="delete-button">Delete</button>
            </form>
          </td>
        </tr>
		{% endfor %}
		{% else %}
		<p>No user audio found.</p>
		{% endif %}

       </table>
     </form>
   </div>

{% endblock %}
