{% extends "accountmanagement.html" %}

{% block title %}Update Password{% endblock %}

{% block content %}
  <div class="centered" class="container">
    <div class="transbox">
      <form method="post" class="pass-form" action="/updatepassword/" role="form">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.get_username }}">
        <label>Old Password</label>
        <input type="password" placeholder="Enter Password" name="old_password" required>
        <label>New Password</label>
        <input type="password" placeholder="Enter Password" name="new_password1" required>
        <label>Verify New Password</label>
        <input type="password" placeholder="Enter Password" name="new_password2" required>
        <button type="submit" class="submit-button">Submit</button>
        {% block content1 %}
        {% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
